
*{
 margin: 0%;
 padding: 0%;
}
body{
  overflow-x: hidden;
}
.upper-text{
    background-color: aquamarine;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .card-text{
      font-size: 12px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .navbar-text{
      font-size: 30px;
      font-family: fantasy;
  }
  .card button:hover {
    opacity: 0.7;
  }
  li,h3{
    font-family: Times New Roman;
  }